{% extends "index.html" %}
{% load staticfiles %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="container mt-5 pt-5">
    <div class="row pb">
        <div class="col mt-5 pt-5 text-center">
            <h1 class="mt-5 mb-2 font-weight-bold mx-auto">Welcome {{ new_user.first_name }}!</h1>
            <h5 class="text-uppercase font-weight-bold">Your account has been successfully created. Now you can <a
                    href="{% url 'login' %}">log in</a>.</h5>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}

{% endblock %}
