{% extends "index.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block content %}
<!-- this html page is used to display a list of queried fields from the UserMedicalRecord and allows users to perform queries on them -->


<div class="container mx-auto row mt-5 pt-5">

    <div class="mb-4">
        <h3 class="text-center font-weight-bold">LET THE DATA TELL THE STORY</h3>
        <hr>
        <h5 class=" mb-1 "></h5>
        <h5 class="text-danger font-weight-bold text-justified">The sole purpose of us and our partners making this data
            available is for <em>RESEARCH</em> and <em>EDUCATIONAL</em> purposes.
            Names of our users have intentionally been removed to safeguard their identity.
        </h5>
    </div>


    <!-- This div renders the different charts on our page -->
    <div id="container" class="col-md-4" data-url="{% url 'usersmedhistory:chart_data' %}"></div>
    <!-- End of the div charts -->


    <div class="col-md-9 col-sm-12 table-responsive">
        <table style="width:100%" class="table table-striped table-bordered ">
            <tr class="text-uppercase">
                <th>ID</th>
                <th>AGE</th>
                <th>GENOTYPE</th>
                <th>HEALTH </th>
                <th>MARRIED</th>
                <th>COUNTRY</th>
                <th>STATE</th>
                <th>LGA</th>

            </tr>
            {% for record in queryset %}
            <tr>
                <td>{{ record.id }}</td>
                <td>{{ record.age }}</td>
                <td>{{ record.genotype }}</td>
                <td>{{ record.health_challenge }}</td>
                <td>{{ record.married }}</td>
                <td>{{ record.country }}</td>
                <td>{{ record.state }}</td>
                <td>{{record.local_government}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="col-md-3 col-sm-12">
        <form method="GET" class="mb-5 shadow font-weight-bold h5 text-uppercase">
            <div class="row">
                <!--For filtering out genotypes-->
                <div class="form-group my-3 col-md-12">
                    <div class="col-12 text-center">
                        <label for="genotype">Genotype</label></div>
                    <div class="col-12 text-center">
                        <select id="genotype" name="genotype" class="w-75 mx-auto">
                            <option name=""></option>
                            <option name="AA">AA</option>
                            <option name="AS">AS</option>
                            <option name="SS">SS</option>
                        </select>
                        <hr>
                    </div>
                </div>

                <!--For filtering users based on stat-->
                <div class="form-group col-md-12">
                    <div class="col-12 text-center">
                        <label for="state">State</label>
                    </div>
                    <div class="col-12 text-center">
                        <select id="state" name="state" class="w-75 mx-auto">
                            <option name=""></option>
                            <option name="Imo">Imo</option>
                            <option name="Anambra">Anambra</option>
                            <option name="Unata">Unata</option>
                        </select>
                    </div>
                    <hr>
                </div>

                <!--For filtering users based on country-->
                <div class="form-group col-md-12">
                    <div class="col-12 text-center">
                        <label for="country">Country</label>
                    </div>
                    <div class="col-12 text-center">
                        <select id="country" name="country" class="w-75 mx-auto">
                            <option name=""></option>
                            <option name="Nigeri">Nigeria</option>
                            <option name="Kenya">Kenya</option>
                            <option name="Egypt">Egypt</option>
                        </select>
                    </div>
                    <hr>
                </div>

                <!--For filtering users based on their health challenges-->
                <div class="form-group my-3 col-md-12">
                    <div class="col-12 text-center">
                        <label for="health">Health</label></div>
                    <div class="col-12 text-center">
                        <select id="health" name="health" class="w-75 mx-auto">
                            <option name=""></option>
                            <option name="Malaria">Malaria</option>
                            <option name="Cancer">Cancer</option>
                            <option name="HIV">HIV</option>
                            <option name="Ebola">Ebola</option>
                            <option name="Low BP">Low BP</option>
                            <option name="High BP">High BP</option>
                            <option name="Diabetic">Diabetics</option>
                        </select>
                        <hr>
                    </div>
                </div>
                <div class="form-group my-3 col-12">
                    <div class="col-12 text-center">
                        <button class="btn btn-success w-75 btn-center" type="submit">Filter</button>
                    </div>
                </div>

            </div>
        </form>
    </div>

    {% include "includes/pagination.html" %}
</div>

<!-- This scripts is an ajax scripts renders the different charts on our page -->
<script>
    $.ajax({
        url: $("#container").attr("data-url"),
        dataType: 'json',
        success: function (data) {
            Highcharts.chart("container", data);
        }
    });
</script>
{% endblock content %}