{% extends "index.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block content %}

    <div class="container text-center mt-5 pt-5 table-responsive">
            <h3>Medical record list</h3>
        <table style="width:100%" class="table table-striped table-bordered ">
              <tr class="text-uppercase">
                  <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Health Challenge</th>
                <th>Country</th>
                <th>State</th>
                <th>LG</th>
                <th>Genotype</th>
                <th>Married</th>
                <th>Children</th>
              </tr>
            {% for record in records %}
                <tr>
                    <td>{{record.id}}</td>
                    <td class="text-capitalize">{{ record.user }}</td>
                    <td>{{ record.age }}</td>
                    <td>{{ record.email }}</td>
                    <td>{{ record.phone }}</td>
                    <td>{{ record.health_challenge }}</td>
                    <td>{{ record.country }}</td>
                    <td>{{ record.state }}</td>
                    <td>{{ record.local_government }}</td>
                    <td>{{ record.genotype }}</td>
                    <td>{{ record.married }}</td>
                    <td>{{ record.children }}</td>
                </tr>
        {% endfor %}
        </table>

    </div>

{% endblock %}