{% extends "index.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block content %}


<div class="container text-center mt-5 pt-5 table-responsive">

            <form method="GET"
                  class="mb-5 col-md-10 mx-auto shadow font-weight-bold h5 text-uppercase"
                 >
                <div class="row">
                <div class="form-group my-3 col-md-3">
                    <label for="health">Health</label>
                    <select id="health" name="health">
                        <option name="hiv">HIV</option>
                        <option name="low_bp">LOW BP</option>
                        <option name="high_bp">HIGH BP</option>
                    </select>
                </div>
                <!--<div class="form-group my-3 col-md-3">-->
                    <!--<label for="state">State</label>-->
                    <!--<select id="state">-->
                        <!--<option>lorem</option>-->
                        <!--<option>now</option>-->
                        <!--<option>hurray</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group my-3 col-md-3">-->
                    <!--<input class="form-control" name="testing" placeholder="enter word"/>-->
                <!--</div>-->

                    <div class="form-group my-3 col-md-3">
                        <button class="btn btn-success" type="submit">Filter</button>
                    </div>
            <!--<div class="btn-group shadow w-100">-->
                    <!--<button type="button" class="btn btn-secondary dropdown-toggle w-100" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                        <!--Filter word-->
                    <!--</button>-->
                    <!--<div class="dropdown-menu w-100">-->
                        <!--<input class="dropdown-item"  name="ebola_exact" placeholder="Ebola"/>Ebola</input>-->
                        <!--<a class="dropdown-item" href="" name="hiv_exact">HIV</a>-->
                        <!--<a class="dropdown-item" href="" name="diabetic_exact">Diabetic</a>-->
                    <!--</div>-->
                <!--</div>-->
        </div>
            </form>
    <div class="row">
            <h3>Statitics of how different illness are spread across states and Age group</h3>
        <div class="col-md-9 col-sm-12">
        <table style="width:100%" class="table table-striped table-bordered ">
              <tr class="text-uppercase">
                  <th>ID</th>
                <th>State</th>
                <th>Age</th>
                <th>HIV</th>
                <th>Diabetics</th>
                <th>Ebola</th>
              </tr>
            {% for record in report %}
                <tr>
                    <td>{{ record.id }}</td>
                    <td>{{ record.state }}</td>
                    <td>{{ record.age }}</td>
                    <td>{{ record.hiv }}</td>
                    <td>{{ record.diabetic }}</td>
                    <td>{{ record.ebola }}</td>
                </tr>
        {% endfor %}
        </table>
        </div>

    </div>

{% include "includes/pagination.html" %}
</div>
{% endblock content %}
{% block jquery %}
    <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}