<div class="row">
    <div class="shadow mt-5 text-left col-md-6">
        <ol class="py-3">
            <h5 class="text-uppercase text-center">our mission</h5>
            <hr>
            <p>Our mission is to make data readily available for</p>
            <hr>
            <li>Educational and Research purposes</li>
            <li>Medical support from NGO's, Government, International Organizations for our users</li>
            <li>Collaboration between Health Workers and Patients</li>
            <li>Real time monitoring and combating of epidemic outbreaks</li>
        </ol>
    </div>

    <div class="shadow mt-5 text-left col-md-6">

        <h5 class="text-uppercase pt-3 text-center">Who are we</h5>
        <hr>
        <p>We are a dedicated team from all over Africa with the shared vision of changing the narrative of
            the health system in Africa</p>
        <p>We are focused on decentralizing the health system in African and provide African people
            with real access to NGO's, International Organization, Foreign Aids that they need to combat
            various diseases and have access to people ready to help them
        </p>
    </div>
</div>